/* Resetear estilos predeterminados */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor del menú */
div.menu-container {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 9); /* Sombra */
    margin-top: 9%;
    margin-left: 9%;
    margin-right: 9%;
    width: 40%;
    height: 30%;
    
}

/* Estilo de los enlaces del menú */
div.menu-container a {
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente */
    margin-right: 20px; /* Margen derecho entre enlaces */
    transition: color 0.3s; /* Transición de color */
}

/* Estilo de los enlaces del menú al pasar el cursor */
div.menu-container a:hover {
    color: #007bff; /* Cambio de color al pasar el cursor */
}

/* Estilo del contenedor del menú para que sea más grande en dispositivos móviles */
@media (max-width: 40px) {
    div.menu-container {
        padding: 15px;
    }
}

div.menu-container {
    border-radius: 200px; /* Borde redondeado */
}

/* Estilo de los enlaces del menú */
div.menu-container a {
    padding: 10px 20px; /* Espacio interno */
}

/* Estilo del contenedor del menú para que sea centrado */
div.menu-container {
    text-align: center;
}

/* Estilo de los enlaces del menú al pasar el cursor */
div.menu-container a:hover {
    color: #fff; /* Cambio de color al pasar el cursor */
    background-color: #007bff; /* Cambio de color de fondo al pasar el cursor */
    border-radius: 100px;
}